@import './_utily.scss';

body {
  /* background: linear-gradient(360deg, rgba(229, 238, 245, 1)4%, rgba(208, 221, 247, 1)87%);
    background: -moz-linear-gradient(360deg, rgba(229, 238, 245, 1)4%, rgba(208, 221, 247, 1)87%);
    background: -webkit-linear-gradient(360deg, rgba(229, 238, 245, 1)4%, rgba(208, 221, 247, 1)87%);
    background: -o-linear-gradient(360deg, rgba(229, 238, 245, 1)4%, rgba(208, 221, 247, 1)87%); */
  // background: url("https://images.unsplash.com/photo-1511881346740-60bcc5769e35?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  // background-size: cover;
  background:  rgb(215,228,231);
  
}
ul,li{
  list-style: none;
  padding-left: 0;
}
.onoffswitch {
  position: relative;
  width: 48px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 2px solid #e3e3e3;
  border-radius: 20px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 20px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 26px;
  border: 2px solid #e3e3e3;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #49e845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #49e845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

tbody tr:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.carNum{
  width: 50px;
}
.prd_img{
  width: 100%;
}
.btn_white{
  color: #fff;
}
.btn-info:hover{
  border-color: #0dcaf0;
  background-color: #fff;
  color: #0dcaf0;
}
.btn-primary:hover{
  border-color: #0d6efd;
  background-color: #fff;
  color: #0d6efd;
}
.btn-danger:hover{
  border-color: #dc3545;
  background-color: #fff;
  color: #dc3545;
}
.btn-success:hover{
  border-color: #198754;
  background-color: #fff;
  color: #198754;
}
.btn-left{
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
.btn-right{
  border-left: 0;
  border-radius:  0 5px  5px 0;}

  @media (min-width: 576px){
  .modal-big {
      max-width: 1170px;
      margin: 1.75rem auto;
  }
}

.prd_img{
 width: 50% ;
}
.prd_img_100{
  width:100% ;
 }




/* 文字輸入效果 */
@keyframes typing {
  from { width: 0 }
}

@keyframes caret {
  50% { border-color: transparent; }
}

.css_wordInput {
  width: 12em;
  border-right: .05em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(12),
    caret 1s steps(1) infinite;
}

.css_wordInput_13 {
  width: 13em;
  border-right: .05em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(13),
    caret 1s steps(1) infinite;
}
.css_wordInput_4 {
  width: 5em;
  border-right: .05em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(5),
    caret 1s steps(1) infinite;
}
.w_100{
  width: 100%;
}
.w_50{
  width: 50%;
}